# Node Environment Properties
PORT=4000
NODE_ENV=production

# Frontend Origin(s) [Comma separated if multiple domains like Vercel staging & Prod]
FRONTEND_URL=https://your-frontend.vercel.app

# MongoDB Connection String (Atlas or Local)
DB_URL=mongodb+srv://<user>:<pwd>@cluster.mongodb.net/database_name

# JSON Web Tokens
JWT_SECRET_KEY=generate_a_random_secure_long_string_here
JWT_EXPIRE=7d
COOKIE_EXPIRE=7

# Cloudinary Integration (For Resumes / Storage)
CLOUDINARY_CLIENT_NAME=your_cloudinary_name
CLOUDINARY_CLIENT_API=your_cloudinary_api_key
CLOUDINARY_CLIENT_SECRET=your_cloudinary_secret

# AI Cover Letter API (Groq)
GROQ_API_KEY=your_groq_api_key
